<div class = "home-banner">
</div>

<div class= "carre">
  <div class= "carre1">
    <div class="content-carre">
      <h3 style="position: relative;top: -100px;color: white;"> Trouve ton stage à l'étranger en quelques clics ! </h3>
      <div class="title-button">
        <a href="#" class="home-button">Voir les offres </a>
      </div>
    </div>
  </div>


  <div class="carre2">
    <div class="partners-double">
      <div class="container-partner">

        <div class="logoss">
          <div class="container-schools">
            <div class="top-description" style="display: flex;justify-content: center;">
              <h5>Vos écoles sont attractives à l'international !</h5>
            </div>
            <div class="grid-logos1">
              <%= image_tag("ememlyon.png", {:style => "width:75px;height:75px;", class:"logos"}) %>
              <%= image_tag("audenciafond.jfif", {:style => "width:75px;height:75px;", class:"logos"}) %>
              <%= image_tag("icntrue.jfif", {:style => "width:75px;height:75px;", class:"logos"}) %>
              <%= image_tag("sorbonne.jpg", {:style => "width:75px;height:75px;", class:"logos"}) %>
            </div>
            <div class="grid-logos1">
              <%= image_tag("kedgemarseille.png", {:style => "width:75px;height:75px;", class:"logos"}) %>
              <%= image_tag("ipagipag.svg", {:style => "width:75px;height:75px;", class:"logos"}) %>
              <%= image_tag("hec.png", {:style => "width:75px;height:75px;", class:"logos"}) %>
              <%= image_tag("insa.png", {:style => "width:75px;height:75px;", class:"logos"}) %>
            </div>
          </div>
       </div>
      </div>
      <div class="container-slider">
        <div class="slider">
          <div class="slides">
            <input type="radio" name="radio-btn" id="radio1">
            <input type="radio" name="radio-btn" id="radio2">
            <input type="radio" name="radio-btn" id="radio3">
            <input type="radio" name="radio-btn" id="radio4">

            <%# slides %>
            <div class="slide first">
              <%= image_tag("bcntruetrue.png") %>
            </div>
            <div class="slide">
              <%= image_tag("lisbonnetrue.png") %>
            </div>
            <div class="slide">
              <%= image_tag("fontaintrue.png") %>
            </div>
            <div class="slide">
              <%= image_tag("dublintrue.png") %>
            </div>

            <div class="navigation-auto">
              <div class="auto-btn1"></div>
              <div class="auto-btn2"></div>
              <div class="auto-btn3"></div>
              <div class="auto-btn4"></div>
            </div>

          </div>

          <div class="navigation-manual">
            <label for="radio1" class="manual-btn"></label>
            <label for="radio2" class="manual-btn"></label>
            <label for="radio3" class="manual-btn"></label>
            <label for="radio4" class="manual-btn"></label>
          </div>

        </div>
      </div>
      <%# <%= video_tag("videoexpeplus.mp4", {:size => "250x200",:poster => "poster.png", :autoplay => true, :muted => true, :controls => true, :type => "video/mp4", class:"togo"}) %>
    </div>


  </div>
</div>


<div class="home-banner1">
</div>







<script type="text/javascript">
  var counter = 1;
  setInterval(function(){
    document.getElementById('radio' + counter).checked = true;
    counter++;
    if(counter > 4){
      counter = 1;
    }
  }, 5000);
</script>
